

* {
  padding: 0px;
  margin: 0px;
  outline: none; 
}
body{
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  line-height: 1.7em;
  font-weight: 400;
  background: #ffffff;
  transition: all .5s ease;
  color: #05022a;
  overflow-x: hidden;
}
::selection{
  background: #00aeff;
}
h1,h2,h3,h4,h5,h6{
    line-height:1.33em;
    font-weight:600;
    margin-bottom: 0px;
}
a {
  border: 2px solid transparent;
  position: relative;
  text-decoration: none; 
  transition: all .5s ease;
  color: white;
}
a:hover{
  color: black;
  text-decoration: none;
}
h1{
    font-size:2.93em;
}
h2{
    font-size:2.3em;
    font-weight: 300;
}
h3{
    font-size:1.87em;
}
h4{
    font-size:1.6em;
}
h5{
    font-size:1.33em;
}
h6{
    font-size:1.07em;
}
p{
  font-size:1em;
  margin-bottom: 0px!important;
	
  }
ul {
  margin-bottom: 0px; 
}
li {
  list-style: none; 
}
button {
  border: none;
  cursor: pointer; 
}
button:focus {
  outline: none; 
}
img {
  max-width: 100%; 
}

.pt-button{
  color: #fff;
  position: relative;
  font-weight: bold;
  font-size: 14px;
  border-radius: 100px;
  text-decoration: none;
  padding: 4px 10px;
  text-transform: uppercase;
  background: linear-gradient(135deg, #4cb5ff, #8982f7, #4cb5ff, #cccccc, #8982f7);
  background-size: 400% 400%;
  display: inline-block;
  transition: all .5s ease;
}
.pt-button:before {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: -webkit-linear-gradient(135deg, rgb(76, 181, 255) 0%, rgb(137, 130, 247) 100%);
  background: -o-linear-gradient(135deg, rgb(76, 181, 255) 0%, rgb(137, 130, 247) 100%);
  background: -ms-linear-gradient(135deg, rgb(76, 181, 255) 0%, rgb(137, 130, 247) 100%);
  background: -moz-linear-gradient(135deg, rgb(76, 181, 255) 0%, rgb(137, 130, 247) 100%);
  background: linear-gradient(315deg, rgb(76, 181, 255) 0%, rgb(137, 130, 247) 100%);
  border-radius: 5px;
  z-index: -1;
  transition: opacity 0.5s linear;
  opacity: 0;
}
.pt-button.light{
  background: linear-gradient(135deg, #fff, #fff, #fff, #fff, #fff);
}
.pt-button.light span{
    background: linear-gradient(to right, #8982f7 0%, #4cb5ff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@keyframes gradient {
  0% {
    background-position: 0% 20%;
  }
  50% {
    background-position: 100% 80%;
  }
  100% {
    background-position: 0% 20%;
  }
}

.pt-button:hover{
  animation: gradient  8s ease infinite;
  color: #ffffff;
  box-shadow: 0px 7px 18px 2px rgba(0, 0, 0, 0.25);
}


.title-center{
  text-align: center;
}
.pt-title{
  padding-bottom: 50px;
}
.pt-title h2{
  padding-bottom: 20px;
}
.pt-title p{
  color: #a7a7a7;
}
.title-left{
  text-align: left;
}
.pt-title.light h2{
  font-weight: 300;
}

.pt-list li{
  padding-bottom: 10px;
  max-width: 470px;
}
.pt-list li:before{
  content: url(img/check.png);
  position: relative;
  top: 4px;
  padding-right: 10px;
}
.pt-border{
  border: 1px solid #e4e5f0;
  border-radius: 5px;
}
.pt-vertical-center{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.padding-top-50{
  padding-top: 50px;
}

.padding-top-135{
  padding-top: 60px;
}
p a::after ,
li a::after {
  width: 0%;
  height: 2px;
  display: block;
  background-color: #8982f7;
  content: " ";
  position: absolute;
  top: 21px;
  left: 0%;
  transition: left 0.2s cubic-bezier(0.215, 0.61, 0.355, 1), width 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
}
  
p a:hover::after ,
li a:hover::after {
  width: 100%;
  height: 2px;
  display: block;
  background-color: #8982f7;
  content: " ";
  position: absolute;
  top: 21px;
  left: 0;
}

/*=============================================*/
/************** 2.0 - Navbar Css **************/
/*===========================================*/
header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    box-sizing: border-box;
    transition: 1s;
    z-index: 3;
}
header.black{
  background: -webkit-linear-gradient(315deg, rgb(76, 181, 255) 0%, rgb(137, 130, 247) 100%);
  background: -o-linear-gradient(315deg, rgb(76, 181, 255) 0%, rgb(137, 130, 247) 100%);
  background: -ms-linear-gradient(315deg, rgb(76, 181, 255) 0%, rgb(137, 130, 247) 100%);
  background: -moz-linear-gradient(315deg, rgb(76, 181, 255) 0%, rgb(137, 130, 247) 100%);
  background: linear-gradient(135deg, rgb(76, 181, 255) 0%, rgb(137, 130, 247) 100%);
}
.bg-light {
  background: transparent!important;
}
.navbar {
    padding: .5rem 0rem;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
  color: #ffffff;
}
.navbar-center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.navbar-light .navbar-nav .nav-link {
  color: rgba(255,255,255,.9);
  margin: 10px 14px;
  padding: 0px;
}
.navbar-light .navbar-nav.light-bg .nav-link {
  color: #05022a;
}
.black .navbar-light .navbar-nav.light-bg .nav-link {
  color: #fff;
}
.nav-link{
  position: relative;
}

.right-menu{
  text-align: right;
}
.right-menu li{
  display: inline-block;
}
.right-menu li{
  display: inline-block;
  padding-right: 20px;
}
.right-menu li:last-child{
  padding-right: 0px;
}
.right-menu li a{
  color: #ffffff;
  margin: 8px 0px;
  padding: 0px;
}
.right-menu.light-bg li a{
  color: #05022a;
  padding: 8px 0px;
}

.black .right-menu.light-bg li a{
  color: #fff;
}

.dropdown > a:after{
  font-family: FontAwesome;
  content: "\f107";
  margin-left: 6px;
  color: #ffffff;
  font-size: 12px;
}
.right-menu {
  text-align: right;
  position: absolute;
  right: 0;
  display: inline-block;
  margin-right: 87px;
}
.right-menu li a span{
  margin-right: 12px;
}
.right-menu li a span img {
  position: absolute;
  left: 0;
  top: 14px;
}


.nav-item a::after {
  width: 0%;
  height: 2px;
  display: block;    
  background: #fff;
  content: " ";
  position: absolute;
  top: 23px;
  left: 0%;
  transition: left 0.2s cubic-bezier(0.215, 0.61, 0.355, 1), width 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.nav-item a:hover::after {
    width: 100%;
    height: 2px;
    display: block;  
    background: #fff;
    content: " ";
    position: absolute;
    top: 23px;
    left: 0;
}
input[type="text"] {
    border-radius: 100px;
	padding: 5px;
}
/*===========================================*/
/************** 3.0 - Slider Css ************/
/*=========================================*/
#slider{
  height: 100vh;
  background: url(cloud_slider_bg.png) no-repeat center bottom;
  background-size: cover;
}
.slider-content{
  position: relative;
  height: 100vh;
  color: #ffffff;
}
ul.navbar-nav.left-menu {
    padding: 10px;
    display: inline-flex;
	    margin-left: 66px;
}
.slider-content.light-bg {
  color: #05022a;
}
.verticle-align-tm{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 90px;
}
.slider-title{
  padding-bottom: 25px;
  transition: all .5s ease;
}
.slider-text{
  padding-bottom: 45px;
  padding-right: 60px;
}
.slider-service {
    border: 1px solid transparent;
    border-radius: 5px;
    background: #fff;
    padding: 30px;
    width: 300px;
    overflow: hidden;
    -webkit-box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.4);
    -moz-box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.4);
    box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.4);
    position: relative;
    left: -130px;
    z-index: 1;
    transition: all .5s ease;
}
.slider-service-list{
  position: absolute;
  width: 1000px;
  left: -400px;
  background: url(img/slider_service_bg.png) no-repeat center right;
}
.slider-service-list .slider-service{
  display: inline-block;
}
.service-details{
  color: #4c4c4c;
  transition: all .5s ease;
}
.service-title{
  color: #0f0f0f;
  height: 60px;
  width: 60px;
  background: #afaaf5;
  display: block;
  border: 1px solid #8982f7;
  border-radius: 100%;
  position: relative;
  margin-bottom: 25px;
  transition: all .5s ease;
}
.service-title svg{
  color: #fff;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  transition: all .5s ease;
}
.service-title h5{
    position: absolute;
    left: 70px;
    width: 300px;
    top: 18px;
  transition: all .5s ease;
}
.service-details strong{
  margin-bottom: 17px;
  display: block;
}
.service-subtitle{
  padding-bottom: 5px;
}
.service-details ul{
  padding-bottom: 50px;
}
.service-play svg{
  color: #8982f7;
  transition: all .5s ease;
}
.service-play a ,
.service-play a svg{
  color: #0f0f0f;
  transition: all .5s ease;
}
.service-play a svg{
  margin-left: 5px;
}
.service-play a {
  float: right;
}
.play-border{
  border: 1px solid #8982f7;
  border-radius: 100%;
  padding: 7px 10px 7px 11px;
}
input[type="password"] {
    margin-left: 6px;
    border-radius: 100px;
	margin-top: 6px;
	padding: 5px;
}
input[type="button"] 
{
    margin-left: 80px;
    padding: 7px;
    background-color: #63a3fc;
	color: white;
	border-radius: 18px;
}
input[type="reset"] {
    border-radius: 18px;
    background-color: #63a3fc;
    padding: 7px;
    margin-top: 5px;
    color: white;
}
	
}
input[type="reset"] 
{
    padding: 7px;
    background-color: #63a3fc;
	color: white;
	margin-top: 5px;
	border-radius: 18px;
}


.top-service:before ,
.slider-service:before {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: -webkit-linear-gradient(135deg, rgb(76, 181, 255) 0%, rgb(137, 130, 247) 100%);
  background: -o-linear-gradient(135deg, rgb(76, 181, 255) 0%, rgb(137, 130, 247) 100%);
  background: -ms-linear-gradient(135deg, rgb(76, 181, 255) 0%, rgb(137, 130, 247) 100%);
  background: -moz-linear-gradient(135deg, rgb(76, 181, 255) 0%, rgb(137, 130, 247) 100%);
  background: linear-gradient(315deg, rgb(76, 181, 255) 0%, rgb(137, 130, 247) 100%);
  border-radius: 5px;
  z-index: -1;
  transition: opacity 0.5s linear;
  opacity: 0;
}
.top-service:hover::before ,
.slider-service:hover::before {
  opacity: 1;
}

.top-service:hover .service-play a,
.top-service:hover h5,
.top-service:hover .service-play svg,
.top-service:hover .service-details,
.top-service:hover .service-play a svg,

.slider-service:hover .service-play a,
.slider-service:hover h5,
.slider-service:hover .service-play svg,
.slider-service:hover .service-details,
.slider-service:hover .service-play a svg{
  text-decoration: none;
  color: #fff;
}
.top-service:hover .play-border,
.slider-service:hover .play-border{
  border: 1px solid #fff;
}
.top-service:hover .service-title,
.slider-service:hover .service-title{
  background: #fff;
  border: 1px solid #fff;
}
.top-service:hover .service-title svg,
.slider-service:hover .service-title svg{
  color: #8982f7;
}
.slick-initialized .slick-slide {
    display: block;
    margin: 0 15px;
}
#slider .pt-button:hover{
  box-shadow: 0px 7px 18px 2px rgba(0, 0, 0, 0.15);
}









/*===========================================*/
/************* 25.0 - Footer Css ************/
/*=========================================*/
#footer a::after {
  width: 0%;
  height: 2px;
  display: block;
  background-color: #fff;
  content: " ";
  position: absolute;
  top: 21px;
  left: 0%;
  transition: left 0.2s cubic-bezier(0.215, 0.61, 0.355, 1), width 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
}
  
#footer a:hover::after {
  width: 100%;
  height: 2px;
  display: block;
  background-color: #fff;
  content: " ";
  position: absolute;
  top: 21px;
  left: 0;
}
#footer{
  background: url(img/footer-bg.jpg);
  background-size: cover;
  background-position: center;
}
#footer h1{
  margin: 0px;
}

.copyright-area{
  background: #6a9ffb;
  padding: 23px 0px;
}
.copyright-text,
.copyright-nav a{
  font-size: 0.866em;
  color: #ffffff;
}
.copyright-nav{
  text-align: right;
}
.copyright-nav li{
  display: inline-block;
  padding-left: 25px;
}
p.copy {
    text-align: center;
    color: white;
}



